# Data Science Masters 2.0 Assignment 1

## Q1. Create one variable containing following type of data:
(i) string (ii) list (iii) float (iv) tuple

In [2]:
# String variable
my_string = "Abhinav Reddy"
print("My String:",my_string)

# List variable
my_list = [10,11,21,31,51]
print("My List:",my_list)

# Float variable
my_float = 3.4
print("My Float:",my_float)

# Tuple variable
my_tuple = (4222, 4444, 2184)
print("My Tuple:",my_tuple)

My String: Abhinav Reddy
My List: [10, 11, 21, 31, 51]
My Float: 3.4
My Tuple: (4222, 4444, 2184)

## Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘ (ii) var2 = ‘[ DS , ML , Python]’ (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] (iv) var4 = 1.

## What will be the data type of the above given variable.

In [3]:
var1 = ''
print("The data type of var1 is",type(var1))
var2 = '[ DS , ML , Python]'
print("The data type of var2 is",type(var2))
var3 = [ 'DS' , 'ML' , 'Python' ]
print("The data type of var3 is",type(var3))
var4 = 1.
print("The data type of var4 is",type(var4))

The data type of var1 is <class 'str'>
The data type of var2 is <class 'str'>
The data type of var3 is <class 'list'>
The data type of var4 is <class 'float'>

## Q3. Explain the use of the following operators using an example:
(i) / (ii) % (iii) // (iv) **

In [4]:
a = 769
b = 3
div = a / b
mod = a % b
floor = a // b
power = a ** b
print("Division of {} and {} is".format(a,b),div)
print("Division of {} and {} is".format(a,b),mod)
print("Division of {} and {} is".format(a,b),floor)
print("Division of {} and {} is".format(a,b),power)

Division of 769 and 3 is 256.3333333333333
Division of 769 and 3 is 1
Division of 769 and 3 is 256
Division of 769 and 3 is 454756609

## Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [5]:
my_list = [42, "Hello, World!", 3.14, True, [1, 2, 3], {"key": "value"}, (5, 6), None, 7.8, False]

for element in my_list:
    print(f"Element: {element}, Data Type: {type(element)}")

Element: 42, Data Type: <class 'int'>
Element: Hello, World!, Data Type: <class 'str'>
Element: 3.14, Data Type: <class 'float'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: {'key': 'value'}, Data Type: <class 'dict'>
Element: (5, 6), Data Type: <class 'tuple'>
Element: None, Data Type: <class 'NoneType'>
Element: 7.8, Data Type: <class 'float'>
Element: False, Data Type: <class 'bool'>

## Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [6]:
A = int(input("Enter A :"))  
B = int(input("Enter B :"))   

count = 0

while A % B == 0:
    A = A / B  
    count += 1  

if count > 0:
    print("Number A is divisible by B.")
    print("It can be divided", count, "times.")
else:
    print("Number A is not divisible by B.")

Enter A :12
Enter B :6
Number A is divisible by B.
It can be divided 1 times.

## Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [7]:
my_list = [12, 15, 7, 9, 18, 21, 5, 24, 33, 11, 30, 14, 27, 8, 36, 19, 22, 16, 25, 6, 13, 10, 28, 17, 20]

for element in my_list:
    if element % 3 == 0:
        print(element, "is divisible by 3")
    else:
        print(element, "is not divisible by 3")

12 is divisible by 3
15 is divisible by 3
7 is not divisible by 3
9 is divisible by 3
18 is divisible by 3
21 is divisible by 3
5 is not divisible by 3
24 is divisible by 3
33 is divisible by 3
11 is not divisible by 3
30 is divisible by 3
14 is not divisible by 3
27 is divisible by 3
8 is not divisible by 3
36 is divisible by 3
19 is not divisible by 3
22 is not divisible by 3
16 is not divisible by 3
25 is not divisible by 3
6 is divisible by 3
13 is not divisible by 3
10 is not divisible by 3
28 is not divisible by 3
17 is not divisible by 3
20 is not divisible by 3

## Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

#### Mutable and immutable are terms used to describe the ability to change or modify an object after it has been created. In Python, some data types are mutable, meaning their values can be modified, while others are immutable, meaning their values cannot be changed once assigned.

#### Immutable Data Types:

#### int, float, complex, bool: These numeric data types are immutable. Once assigned, their values cannot be changed.

In [9]:
x = 5
print(x)  

x = 10  
print(x)

5
10

#### In the example above, the value of x is assigned as 5 initially, but later it is reassigned with a new value of 10. This demonstrates that the integer data type is immutable.

#### Mutable Data Types:

#### list, set, dictionary: These data types are mutable, allowing modifications to their elements or structure.

In [10]:
my_list = [1, 2, 3]
print(my_list)  

my_list.append(4)  
print(my_list)  

my_list[0] = 10
print(my_list)

[1, 2, 3]
[1, 2, 3, 4]
[10, 2, 3, 4]